.footer {
  margin-top: 40px;
}

.authorimage {
  width: 60%;
}

.answer {
  cursor: pointer;
  padding: 10px;
  background: Pink;
  margin: 10px;
}

.fail, .pass, .neutral {
  margin: 10px 0;
  height: 270px;
}

.fail {
  background: Red;
}

.pass {
  background: Green;
}

.neutral {
  background: White;
}
